body{

    background-color: indianred;
    color: gray;
    font-family: 'Times New Roman', Times, serif;

}
footer{
    background-color: brown;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}